<!DOCTYPE html>


<html lang="en">



<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>
        שמואל כהן החמוד
    </title>
    
</head>



<body>
   
    
<h1>  האתר המגניב של שמואל הכריש </h1>
<h2> האתר של המדינה</h2>


<img src="https://img.mako.co.il/2012/06/07/OAODAD4_c.jpg" alt="שמואל מצטער התמונה אינה זמינה"></img>


<img src="https://img.mako.co.il/2012/06/07/OAODAD4_c.jpg" alt="שמואל מצטער התמונה אינה זמינה"></img>

<img src="https://img.mako.co.il/2012/06/07/OAODAD4_c.jpg" alt="שמואל מצטער התמונה אינה זמינה"></img>

</body>



</html>