
.cartBadge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* Adjust badge position as needed */
    /* left: 10px;
    top: 10px; */
  }
  
  .cartIcon {
    /* Style the cart icon using Material UI or your preferred icon library */
    color: #333;
    
    font-size: 24px;
  }
  
  .badgeCount {
    position: absolute;
    top: -5px; /* Adjust badge position relative to icon */
    right: -5px; /* Adjust badge position relative to icon */
    background-color: var(--orange-yellow);
    color: black;
    border: solid black 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 5px 7px; */
    border-radius: 50%;
    font-size: 0.75rem;
    width: 1rem;
    height: 1rem;
  }
  